.container {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}
.button {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background-color: #ffffff;
  color: #2e2f42;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #404bbf;
  color: #ffffff;
  border-color: #404bbf;
}
.reset {
  margin-left: 8px;
  background-color: #f4f4fd;
}